* {
    font-family: "Montserrat", cursive;
    scroll-behavior: smooth;
}
*::selection{
    background-color: #E2420F;
    color: white;
}

.btn-primary {
    border-radius: 30px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
    transition: 0.3s all ease;
}
.btn-primary:active{
    scale: 0.10;
}
.btn-primary:hover{
    background-color: black;
    color: white;
    box-shadow: 8px 8px 10px #00FBFF;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 60px;
    font-weight: 700;
}

.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation: typing 2s steps(40, end) infinite alternate, blink-caret 0.70s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 28%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}*/

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    transition: 0.3s all ease;
}
nav li a:hover{
    color: #EC0707;
    text-decoration: overline;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    color: transparent;
    transition: 0.5s all ease;
}
.banner-title:hover{
    color: black;
    -webkit-text-stroke: 0px;
    text-shadow: red -5px 0, cyan 5px 0;
}


.banner img {
    margin-top: 20px;
    width: 100%;
    filter: blur(5px) grayscale(100%);
    transition: 0.3s all ease;
}
.banner img:hover{
    filter: blur(0px);
    transform: scale(1.0) rotate(3deg);
}

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-img-container img{
    filter: grayscale(100%);
    transition: 0.3s all ease;
}
.teams-img-container img:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
    z-index: 2;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}


.teams-title {
    font-size: 45px;

}

.section-title .quick-list {
    color: #727272;
    font-weight: 500;

}

.section-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
    border-radius: 10px;
    background: rgba(255, 144, 14, 0.10);
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-img img {
    height: 95%;
    width: 600px;
    margin-left: 20px;
}

.ten-years-badge {
    border-radius: 10px;
    background: #FF900E;
    color: #FFF;
    height: 90px;
    width: 200px;
    padding: 40px;
    text-align: center;
    position: relative;
    right: 50px;
    bottom: 100px;
    transition: 0.5s all ease;
}
.ten-years-badge:hover{
    background-color: black;
    box-shadow: 12px 12px 25px #F98800;
    transform: scale(1.2);
    z-index: 2;
}

.ten-years-badge h2 {
    margin: 0;
    font-size: 32px;
}

.ten-years-badge p {
    font-size: 16px;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    transition: 0.5s all ease;
}
.feature-content .card:hover{
    color: white;
    background-color: black;
    transform: translateX(15px);
    box-shadow: 10px 10px 15px #F98800;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    box-shadow: 7px 7px 10px #F89C2D;
    transition: 0.5s all ease;
}
.facts-card-container .card:hover{
    color: white;
    background-color: black;
    box-shadow: 10px 10px 20px #00FBFF;
    border: none;
    transform: translateX(7px) scale(1.0) rotate(7deg);
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sponsors {
    text-align: center;
    border-radius: 10px;
/*    background: rgba(255, 144, 14, 0.10);*/
}
.section-titlee{
    font-size: 60px;
    display: inline-block;
/*    -webkit-text-stroke: 1px white;*/
    color: transparent;
    transition: 0.7s all ease;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -435px 0px;
    animation: anime 2s linear infinite alternate;
}
@keyframes anime{
    100%{
        background-position: 0px 0px;
    }
}
/*.section-titlee:hover{
    color: black;
    -webkit-text-stroke: 0px;
    text-shadow: red -5px 0, cyan 5px 0;
}*/

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
    transition: 0.3s all ease;
}
.sponsors-img-container img:hover{
    transform: translateY(-15px);
}

footer {
    margin-top: 130px;
    border-radius: 8px;
    background: #FFF4E7;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
}
.mar-blink{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
                50% {
                    opacity: 0;
                }
}

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .features {
        margin-top: 20px;
        gap: 20px;
    }

    .ten-years-badge {
        position: static;
        max-width: 300px;
    }

    .feature-img img {
        width: 90%;
        margin-left: 0;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    footer {
        margin-top: 10px;
        padding: 10px;
    }
}


@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    .ten-years-badge {
        position: static;
        max-width: 500px;
    }

    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    footer {
        margin-top: 10px;
        padding: 10px;
    }
}